:root {
    --primaryColor: rgb(100, 87, 69);
    --secondaryColor: rgb(43, 25, 10);
  }


p{
    width: 80%;
    padding-left: 64px;
}

h2{
    padding-left: 24px;
}
h3{
    padding-left: 36px;
}
h4{
    padding-left: 48px;
}

hr{
    border: solid var(--primaryColor);
}
.subHr{
    border: solid  2px var(--secondaryColor);
    width: 90%;
    margin-left: 0%;
}
img{
    margin: auto;
}