@media only screen and (max-width: 450px) {

    #triangle{
        display: none;
    }
    .navItem{
        display:none;
        margin: auto;
    }

    #navigation{
        width: 30%;
        margin-right: 0px;
    }
    #menuButton{
        display: none;
    }
    
    
    
    .heroPage{
        margin-top: 250px;
    }
    
    #aboutMeContent{
        display: block;
    }
   
   
   
    #skillsContent{
        display: block;
    }
    .skillListItem{
        margin: 5%;
        margin-left: 0%;
        margin-bottom: 10px;
    
    }


    #skillDescriptionContainer{
        width: 90%;
        margin: auto;
    }
    





   
    
    #projectsContainer{
        display:block;
        margin:auto;
    }

    .project{
        width: 75%;
        margin: auto;
        margin-bottom: 20px;
    }
    
    
    
    .textField{
        width: 90%;

    }
    textarea{
        width: 90%;

    }


    #socialLinkContainer{
        display: none;
        
    }


    .socialAnchor{
        margin-bottom: 250px;

    }
    
}